{% extends 'users/base.html' %}
{% block body %}
<div class="w-full h-screen flex items-center justify-center">
    <div class="shadow-xl rounded p-12">
        <h1 class="text-2xl">Register User</h1>
        <div class="py-5">
        <form method="POST" class="flex flex-col gap-4">
            {% csrf_token %}
            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="">Username</label>
                <input required  class="border rounded py-1 px-3  w-full" type="text" name="{{ user_form.username.name }}" maxlength="150" id="id_{{ user_form.username.name}} ">
            </div>
            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="">Email Address</label>
                <input  class="border rounded py-1 px-3  w-full" type="email" name="{{ user_form.email.name }}" maxlength="154" id="id_{{ user_form.email.name}} ">
            </div>
            <div>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="">First Name</label>
              <input  class="border rounded py-1 px-3  w-full" type="text" name="{{ user_form.first_name.name }}" maxlength="150" id="id_{{ user_form.first_name.name}} ">
          </div>
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Password</label>
            <input  class="border rounded py-1 px-3  w-full" type="password" name="{{ user_form.password.name }}" maxlength="150" id="id_{{ user_form.password.name}} ">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="">Confirm Password</label>
          <input  class="border rounded py-1 px-3  w-full" type="password" name="{{ user_form.password2.name }}" maxlength="150" id="id_{{ user_form.password2.name}} ">
      </div>
            <button class="text-white bg-green-500 hover:bg-green-700 transition-all py-1 mt-5 rounded" type="submit">
                Register
            </button>        
        </form>
        </div>

    </div>
</div>
    
{% endblock %}


